.speech {
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.direction {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: black;
    background-color: antiquewhite;
}

.direction:hover {
    color: antiquewhite;
    background-color: grey;
}

h6 {
    font-size: 16px;
}

.trofimov {
    color: #D84B20;
}

.pischin {
    color: #CDA434;
}

.lubov {
    color: #3066BE;
}

.charlotta {
    color: #80DED9;
}
.stationmaster{
    color: #BDECB6;
}

table,
th,
td {
    border: 2px solid black;
}

th {
    background-color: #80DED9;
}

th,
td {
    padding: 12px;
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:hover {
    background-color: grey;
    color: white;
}